<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Registration Form</title>-->
<!--    <script>-->
<!--    document.getElementById('registrationForm').addEventListener('submit', function(event) {-->
<!--        event.preventDefault();-->

<!--        var formData = {-->
<!--            username: document.getElementById('username').value,-->
<!--            password: document.getElementById('password').value-->
<!--        };-->

<!--        fetch('/register', {-->
<!--         method: 'POST',-->
<!--         headers: {-->
<!--            'Content-Type': 'application/json',-->
<!--            'Accept': 'application/json'-->
<!--    },-->
<!--    body: JSON.stringify(formData),-->
<!--})-->
<!--        .then(response => response.json())-->
<!--        .then(data => {-->
<!--            console.log('Success:', data);-->
<!--            // Dodaj dowolną logikę obsługi sukcesu-->
<!--        })-->
<!--        .catch((error) => {-->
<!--            console.error('Error:', error);-->
<!--            // Dodaj dowolną logikę obsługi błędu-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Registration Form</h2>-->
<!--<form th:action="@{/register}" method="post" th:object= "${user}"  >-->
<!--    <div>-->
<!--        <label for="username">Username:</label>-->
<!--        <input type="text" id="username" name="username" required th:field="*{username}"/>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="password">Password:</label>-->
<!--        <input type="password" id="password" name="password" required th:field="*{password}"/>-->
<!--    </div>-->
<!--    <div>-->
<!--        <button type="submit">Register</button>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<script>
    document.getElementById('registrationForm').addEventListener('submit', function(event) {
        event.preventDefault();

        var formData = {
            username: document.getElementById('username').value,
            password: document.getElementById('password').value
        };

        fetch('/register', {
         method: 'POST',
         headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
    },
    body: JSON.stringify(formData),
})
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // Dodaj dowolną logikę obsługi sukcesu
        })
        .catch((error) => {
            console.error('Error:', error);
            // Dodaj dowolną logikę obsługi błędu
        });
    });
</script>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Blackjack Game</title>
</head>
<body class="body-login">
<div class="wrapper">
    <form th:action="@{/register}" method="post" th:object= "${user}"  >
        <h1>REGISTRATION</h1>
        <div class="input-box">
            <input type="text" placeholder="USERNAME" id="username" name="username" required th:field="*{username}"/>
            <i class='bx bx-user-circle'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="PASSWORD" id="password" name="password" required th:field="*{password}"/>
            <i class='bx bx-lock'></i>
        </div>
        <button type="submit" class="btn">REGISTER</button>
    </form>
    <div>
        <p>↓ If you have account ↓</p>
        <form th:action="@{/login}" method="get">
            <button class="btn" type="submit">LOGIN</button>
        </form>
    </div>
</div>
</body>

