<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Blackjack Game</title>
</head>

<body>
<div th:insert="~{/navbar :: navbar}"></div>
</body>
<body CLASS="tittle-body">

    <div class="tittle-content">
        <h1><span>Black Jack Game</span></h1>
        <p class="tittle-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            <br> Integer nec odio. Praesent libero.
                            <br>Sed cursus ante dapibus diam. Sed nisi.
                            <br> Nulla quis sem at nibh elementum imperdiet.
                            <br> Duis sagittis ipsum. Praesent mauris.
                            <br> Fusce nec tellus sed augue.
        </p>
        <form th:action="@{/start}" method="get">
        <button th:if="${loggedIn != null and loggedIn}" class="tittle-btn"> START </button>
        </form>

    </div>

    <div class="tittle-content">
        <h1><span>Poker Game</span></h1>
        <p class="tittle-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            <br> Integer nec odio. Praesent libero.
            <br>Sed cursus ante dapibus diam. Sed nisi.
            <br> Nulla quis sem at nibh elementum imperdiet.
            <br> Duis sagittis ipsum. Praesent mauris.
            <br> Fusce nec tellus sed augue.
        </p>
        <form th:action="@{/start-poker}" method="get">
            <button th:if="${loggedIn != null and loggedIn}" class="tittle-btn"> START </button>
        </form>

    </div>
</body>